*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 5rem;
    width: 100%;
    aspect-ratio: 1/1;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    height: 500px;
    width: 100%;
}
.head-title{
    text-align: center;
    padding: 2rem;
    color: #da368d;
    font-size: 5rem;
    font-weight: bold;
}
.div{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.button-div{
    width: 100%;
/background-color: red;/
display: flex;
    justify-content: space-between;
}
.button-div button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}